# reid
reid/class_indices.json
reid/__pycache__/
reid/checkpoints/
reid/runs/

models

# convert_onnx_to_engine
convert_onnx_to_engine_cpp/build/

# yolov8
yolov8/runs/
yolov8/yolov8n.onnx
yolov8/yolov8n.pt

# object tracking
object_tracking/build/
object_tracking/result/img_det/
object_tracking/result/tracker_result.txt